//Fonts
$cinemia-font: 'Bangers', cursive;
$movie-body-font: 'Cabin', sans-serif;
$movie-header-font: 'Castoro', serif;
$review-header-font: 'Cherry Swash', cursive;
$review-body-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$lobster-font: "Lobster", cursive;

//Colors
$jumbo-background: #8e0303;
$jumbo-background: linear-gradient(90deg,#8e0303 0%, #470509 100%);
$chart-background: linear-gradient(180deg,#19a50c 0%, #023306 100%);

$color-primary: #8e0303;
$color-secondary: #e2cc8e;
$color-title: #f1b897d0;

$color-mid: #901CAD;
$color-teal: #17A2B8;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

//Header+Jumbotron
header{
    h1,h2,h3{
        font-family: $cinemia-font;
        color: rgb(238, 230, 230);
    }
}

.jumbotron{
    margin: 0;
    padding: 5px;
    background: $jumbo-background;
}

#searchBtn{
    color: white;
}

#logo {
    margin: 0;
    padding: 0;
}

//Navbar
.navbar {
    background-color: $color-secondary;
        color:$jumbo-background;
        button{
            background-color: $color-primary;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            padding: 4px;
            margin-top: 1rem;
            margin-left: 0.5rem;
        }
}

#loginModal{
    .modal-header{
        background-color: $color-secondary;
        color: white;
    }
}

#upBtn{
    color: black;
    font-weight: bold;
    font-family: $movie-header-font;
    font-size: 18px;
    margin-left: 10px;
}

//BODY
.row-content{
    padding: 10px 0;
   min-height: 200px;
}

body{
    font-family: $body-font;
}

//Movie-Grid Card CSS
.movie-grid{
    margin: 0px;
    padding: 0px;
    .card{
        margin: 1rem 0;
        padding: 0;
        background-color: blanchedalmond;
        .card-body{
            background-color: $color-title;
            padding-top: 0.5rem;
            padding-bottom: 0.3rem;
            .card-title{
                padding-top: 0px;
                padding-bottom: 0px;
                font-family: $movie-header-font;
                color: black;
            }
            .card-text{
                font-family: $cinemia-font;
                color: black;
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }
}



//Movie-Chart Card CSS
.movie-chart{
    margin: 0px;
    padding: 0px;
    .card{
        margin: 1.5rem 0;
        padding: 0;
        background-color: blanchedalmond;
        .card-header{
            background-color: blanchedalmond;
            font-family: $cinemia-font;
        }
        .card-body{
           
            background: $chart-background;
            padding-top: 0.5rem;
            padding-bottom: 0.3rem;
            .card-text{
                margin: 4px;
                li{
                    font-family: $movie-header-font;
                    color: blanchedalmond;
                    font-size: 0.9rem;
                    a{
                        color: blanchedalmond;
                    }
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }
        }
    }
}


//FOOTER
.site-footer {
    background-image: linear-gradient($color-primary, $color-secondary);
    padding: 20px 0;
    a{
        color: white;
    }
    i{
        color: white;
    }
} 




/*

.carousel-caption{
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#reserveModal{
    .modal-header{
        background-color: $color-teal;
        color: white;
    }
}
*/
