//Fonts
$cinemia-font: 'Bangers', cursive;
$movie-body-font: 'Cabin', sans-serif;
$movie-header-font: 'Castoro', serif;
$review-header-font: 'Cherry Swash', cursive;
$review-body-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;
$lobster-font: "Lobster", cursive;

//Colors
$jumbo-background: #8e0303;
$jumbo-background: linear-gradient(90deg,#8e0303 0%, #470509 100%);

$color-primary: #8e0303;
$color-secondary: #e2cc8e;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-teal: #17A2B8;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

//Header+Jumbotron
header{
    h1,h2,h3{
        font-family: $cinemia-font;
        color: rgb(238, 230, 230);
    }
}

.jumbotron{
    margin: 0;
    padding: 5px;
    background: $jumbo-background;
}

#searchBtn{
    color: white;
}

#logo {
    margin: 0;
    padding: 0;
}

//Navbar
.navbar {
    background-color: $color-secondary;
        color:$jumbo-background;
        button{
            background-color: $color-primary;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;}
}

#upBtn{
    color: black;
    font-weight: bold;
    font-family: $movie-header-font;
    font-size: 18px;
    margin-left: 10px;
}

/*
#homeBtn{
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
*/


body{
    font-family: $body-font;
}

h2 {
    color: $color-primary;
}

h1 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }    
}
.site-footer {
   // background-image: url('movie_film_full.png');
   // background-repeat: repeat-x;
} 


/*
.row-content{
    padding: 50px 0;
    border-bottom:  1px ridge;
    min-height: 200px;
}
*/


.carousel-caption{
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#reserveModal{
    .modal-header{
        background-color: $color-teal;
        color: white;
    }
}

#loginModal{
    .modal-header{
        background-color: $color-mid;
        color: white;
    }
}